on: push
jobs:
   maven:
      runs-on: ubuntu-latest
      steps:
      -  name: Setup JDK
         uses: actions/setup-java@v4.6.0
         with:
            java-version: 21
            distribution: adopt
      -  name: Checkout
         uses: actions/checkout@v4.2.2
      -  name: Clone dvbinspector repo
         run: git clone -b release_1_21_0 --depth 1 https://github.com/EricBerendsen/dvbinspector
      -  name: Build dvbinspector
         run: |
            cd dvbinspector
            mvn install
            cd ..
            rm -rf dvbinspector
      -  name: Build the project
         run: |
            mvn package
            mkdir out
            find -name "*.jar" -exec mv {} out/ ";"
      -  name: Include dependencies
         run: |
            mvn clean
            mvn dependency:copy-dependencies
            mkdir out/dependency
            find -wholename "*dependency/*.jar" -exec mv {} out/dependency/ ";"
      -  name: Upload build artifact
         uses: actions/upload-artifact@v4.5.0
         with:
            name: ts-data-toolkit
            path: out/*
